<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/style.css" media="screen" title="no title">
    <meta charset="utf-8">
    <title>Project 1</title>
  </head>
  <body>

 <canvas id="myCanvas" width="720" height="480"></canvas>


    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
